<div id="MyWidget_${instanceId}" class="super-widget wcm-widget-class fluig-style-guide" data-params="MyWidget.instance()">
	
	<div id="app">
		<a v-on:click="testes">suaMae</a>
	</div>



</div>
<script type="text/javascript" src="/webdesk/vcXMLRPC.js?100"></script>
<script type="text/javascript" src="/widget_sla/resources/js/lib/vue/vue.js?100"></script>
<script type="text/javascript" src="/widget_sla/resources/js/lib/vue/vue-resource.min.js?100"></script>
<script type="text/javascript" src="/graficosSolicitacao/resources/js/lib/Chart.js?100"></script>
<script type="text/javascript" src="/graficosSolicitacao/resources/js/class/model.js"></script>
<script type="text/javascript" src="/graficosSolicitacao/resources/js/app.js"></script>